.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100vw;
  height: 100vh;
  margin: auto;
  z-index: 99;
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 6px 4px #dadce0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.project {
  background-color: #1d809f;
}

.project h2 {
  color: white;
}

.project h3 {
  margin-bottom: 20px;
}

.project_container,
.project_container2,
.project_container3 {
  display: flex;
  width: 70%;
  margin: auto;
}

.thumbnail {
  margin: 10px 10px;
  width: 40vw;
  height: 50vh;
  overflow: hidden;
  transition: all 0.2s ease;
}

.thumbnail:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  border-radius: 25px;
}

.project_imgbox {
  width: 60vw;
  height: 70vh;
  margin: auto;
}

.project_imgbox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .project_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
