:root {
  --container-margin-top: 30px;
}

.App {
  text-align: center;
}

.about_me {
  margin-top: var(--container-margin-top);
  padding: 50px 0px;
}

.about_me h1 {
  margin-bottom: 30px;
}

.col-md-4 {
  margin-top: 5px;
}

.skills {
  background-color: yellow;
  margin-top: var(--container-margin-top);
  padding: 30px 0px;
}

.skills h1 {
  margin-bottom: 40px;
}

.portfolio {
  background-color: black;
  color: white;
  height: 800px;
}

.portfolio h1 {
  padding-top: 30px;
}

.faIdCardClip,
.faCode,
.faPen {
  margin-right: 15px;
}

.portfolio div {
  display: flex;
  justify-content: center;
}

.portfolio_01,
.portfolio_02 {
  height: 600px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 10px;
  color: black;
  align-items: center;
  transition: transform 100ms ease-in;
}

.portfolio_01:hover,
.portfolio_02:hover {
  transform: scale(1.01);
}
