:root {
  --container-padding: 30px 0px;
}

.App {
  text-align: center;
}

.about_me {
  padding: var(--container-padding);
}

.about_me h1 {
  padding: var(--container-padding);
}

.col-md-4 {
  margin-top: 5px;
}

.skills {
  background-color: yellow;
  padding: var(--container-padding);
}

.skills_container {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.skills_text {
  margin-bottom: 40px;
}

.skills p {
  transition: transform 100ms ease-in;
  padding-top: 8px;
  margin-right: 50px;
}

.skills p:hover {
  transform: scale(1.1);
}

.archiving {
  width: 30vw;
  height: 50vh;
  background-color: white;
  border-radius: 20px;
  transition: transform 100ms ease-in;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.archiving_title {
  padding-bottom: 30px;
}

.archiving a {
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

.archiving:hover {
  transform: scale(1.02);
}

.portfolio {
  background-color: black;
  color: white;
}

.portfolio h1 {
  padding: var(--container-padding);
}

.faIdCardClip,
.faCode,
.faPen {
  margin-right: 15px;
}

.portfolio_01,
.portfolio_02 {
  height: 60vh;
  width: 70vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin: 16px auto;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 100ms ease-in;
}

.portfolio_01:hover,
.portfolio_02:hover {
  transform: scale(1.02);
}

.portfolio img {
  height: 400px;
  width: 500px;
  object-fit: contain;
}

.portfolio p {
  padding-top: 30px;
}

.board {
  display: inline-block;
  justify-content: center;
  width: 70vw;
  height: auto;
  margin: 30px 0px;
}

.boardWriteBtn {
  margin-top: 50px;
}
